body {
    background-color: rgb(176, 180, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    border-radius: 20px;
  
    background-color: #2d2a37;
  }
  
  .cal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    font-size: 2rem;
    width: 90%;
    height: 50px;
    border-radius: 20px;
    background-color: #615a5eb4;
    position: relative;
  }
  
  .history {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: gray;
    position: absolute;
    top: 5px;
    left: 10px;
  }
  
  .result {
    font-weight: 700;
  }
  
  .content-btns {
    display: flex;
    background-color: transparent;
    gap: 20px;
    margin-top: 15px;
    margin-inline: auto;
  }
  
  button {
    color: #fff;
    background-color: #222029;
    height: 30px;
    width: 35px;
    border-radius: 15px;
    border: 1px solid #15141a;
  }